<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:replace="layout">
<head>
    <meta charset="UTF-8"/>
    <title>销售榜单</title>
</head>
<body>
<div th:fragment="content">
    <section class="white-wrapper special-max-width allow-overflow">
        <div class="section-inner drag-me-up nopaddingbottom">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-6 text-left match-height">
                        <h3 class="section-title">销售榜单，</h3>
                        <p class="section-sub-title">下载本站的销售榜单。</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="btn btn-primary" href="/api/download">下载销售榜单</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
</div>
</body>
</html>
