<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:replace="layout">
<head>
    <meta charset="UTF-8"/>
    <title>404</title>
</head>
<body>
<div th:fragment="content">
    <header class="fullheight">
        <div class="fullheight">
            <div class="container fullheight">
                <div class="jumbotron text-center">
                    <h1><small>好像走丢了呢。。。</small><br>404 Error</h1>
                    <p>
                        <a class="btn btn-primary btn-lg" href="/" role="button">返回首页</a>
                    </p>
                </div>
            </div>
        </div>
    </header>
</div>
</body>
</html>
