<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:replace="layout">
<head>
    <meta charset="UTF-8"/>
    <title>关于我</title>
</head>
<body>
<div th:fragment="content">
    <section class="white-wrapper special-max-width allow-overflow">
        <div class="section-inner drag-me-up nopaddingbottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="team-item col-md-12 match-height nopaddingleftright">
                            <div class="hover-effect smoothie match-height">
                                <a href="#" class="smoothie">
                                    <img src="/images/about/about.jpg" alt="Image" class="img-responsive smoothie">
                                </a>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="row mb60">
                            <div class="col-sm-12">
                                <h3 class="section-title">匡胤鑫，</h3>
                                <p class="section-sub-title">世界上最帅的男人。</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" data-wow-delay="0.2s">
                                <h3 class="uppercase mb30">关于我</h3>
                                <p>匡胤鑫，男，汉族，</p>
                                <p>出生于1999年2月20日，共青团员，</p>
                                <p>南京大学金陵学院2017级计算机科学与技术专业学生，现担任南京大学金陵学院蓝桥杯校队负责人。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
