<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:replace="layout">
<head>
    <meta charset="UTF-8"/>
    <title>购物车</title>
</head>
<body>
<div th:fragment="content">
    <section class="white-wrapper special-max-width allow-overflow">
        <div class="section-inner drag-me-up nopaddingbottom">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-6 text-left match-height">
                        <h3 class="section-title">购物车，</h3>
                        <p class="section-sub-title">查看您将要购买的图书。</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <!--/*@thymesVar id="cartContent" type="java.lang.String"*/-->
                                <table id="cartContent" th:utext="${cartContent}">
                                    <tbody>
                                    <tr>
                                        <th>购物车为空</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <script type="text/javascript">
        function changeCartItem(index) {
            const q = $("#q" + index);
            q.html("<input id=\"i" + index + "\" class=\"form-control\" min=\"1\" name=\"qty\" step=\"1\" type=\"number\" value=\"" + q.html() + "\"/>");
            const b = $("#b" + index);
            b.html("保存变更");
            b.attr("onclick", "saveChange(" + index + ")");
        }

        function saveChange(index) {
            sendChange(index);
            const b = $("#b" + index);
            b.html("修改数量");
            b.attr("onclick", "changeCartItem(" + index + ")");
        }

        function sendChange(index) {
            $.ajax({
                type: 'POST',
                url: "/api/change-cart",
                data: {
                    bid: $("#bid" + index).html(),
                    qty: parseInt($("#i" + index).val())
                },
                success: function () {
                    const q = $("#q" + index);
                    q.html($("#i" + index).val());
                    const s = $("#s" + index);
                    const temp = parseFloat(s.html());
                    s.html((parseFloat($("#p" + index).html()) * parseInt(q.html())).toFixed(2));
                    const total = $("#total");
                    total.html((parseFloat(total.html()) - temp + parseFloat(s.html())).toFixed(2));
                },
                error: function () {
                    alert('修改失败，请重试。');
                    location.href = "/cart";
                }
            });
        }

        function deleteCartItem(index) {
            let xmlhttp;
            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            } else {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                    document.getElementById("cartContent").innerHTML = xmlhttp.responseText;
                }
            }
            xmlhttp.open("GET", "/api/delete-cart-item?bid=" + document.getElementById("bid" + index).innerText, true);
            xmlhttp.send();
        }

        function submitOrder() {
            if (confirm("确定要结账吗？")) {
                $.ajax({
                    url: "/api/submit-order",
                    success: function () {
                        alert('订单提交成功。');
                        location.href = "/order";
                    },
                    error: function () {
                        alert('订单提交失败，请重试。');
                    }
                });
            }
        }
    </script>
</div>
</body>
</html>
