<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:replace="layout">
<head>
    <meta charset="UTF-8"/>
    <title>敬请期待</title>
</head>
<body>
<div th:fragment="content">
    <header class="fullheight">
        <div class="fullheight">
            <div class="container fullheight">
                <div class="jumbotron text-center">
                    <h1><small>一系列新功能正在开发。。。</small><br>敬请期待！</h1>
                </div>
            </div>
        </div>
    </header>
</div>
</body>
</html>
